body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

div {
  text-align: center;
}
.header{

    top: 0;
    left: 0;
    width: 100%;
  
}
h1 {
  font-size: 24px;
  font-weight: bold;
}

input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 5px;
}

button {
  padding: 8px 12px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s ease-in-out, transform 0.1s;
}

button:hover {
  background-color: #0056b3;
  transform: scale(1.1);
}

.delete {
  background-color: red;
  color: white;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  font-weight: bold;
  transition: background 0.3s ease-in-out, transform 0.1s;
  width: 30px;
  height: 30px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
}

.delete:hover {
  background-color: darkred;
  transform: scale(1.1);
}

.move-btns {
  display: inline-flex;
  gap: 5px;
}

.move-btn {
  background-color: #007bff;
  border-radius: 6px;
  width: 32px;
  height: 32px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
}

.move-btn:hover {
  background-color: #0056b3;
}

.list li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: white;
  padding: 10px;
  margin: 5px 0;
  border-radius: 6px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  list-style: none;
}

.list ul {
  padding: 0;
  width: 350px;
}

.item-content {
  display: flex;
  align-items: center;
  gap: 10px;
}